/*general body*/
body{
    font-family : Arial, sans-serif;
    background-color:#f5f5f5;
    margin:0;
    padding:0;
    color:#333
}

/*dark mode*/
body.dark-mode{
    background-color:#1e1e1e;
    color: #f0f0f0;

}

/*container for inputs/buttons*/
.controls{
    display:flex;
    gap: 10px;
    padding:20px;
    justify-content:center;
}

/*inputs*/
input[type="text"]{
    padding: 8px 12px;
    font-size:16px;
    border-radius:6px;
    border:1px solid #ccc;
}
/*buttons*/
button{
    padding:8px 12px;
    font-size:16px;
    border-radius:6px;
    border:none;
    cursor:pointer;
    background-color:#333;
    color:white;
    transition:background-color 0.2s;
}
button:hover{
    background-color:#555;
}

#bookmarksContainer{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    padding: 20px;
    justify-content:center;
}

#bookmarksContainer.card-view.bookmark{
    width:200px;
    border-radius:10px;
    background-color:white;
    padding:15px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    gap:10px;
}

/*dark mode card*/
body.dark-mode #bookmarksContainer.card-view.bookmark {
    background-color: #2e2e2e;
}
/*list view*/
#bookmarksContainer.list-view .bookmark {
    width:80%;
    border-radius: 8px;
    background-color:white;
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
/*dark mode lst view*/
body.dark-mode #bookmarksContainer.list-view.bookmark{
    background-color:#2e2e2e;
}
/*bookmark link*/
.bookmark a {
    text-decoration:none;
    color: inherit;
    font-weight:bold;
}
/*favorite button*/
.bookmark button{
    font-size:18px;
    padding:4px 8ps;
    background-color:transparent;
    color:inherit;
}
#empty{
    text-align: center;
    font-size: 18px;
    color:#888;
    margin-top:20px;
}
